<div class="fundo">
  <!--<div id="my-player-stats">

    <p class="stats">Estado do jogador</p>
    <p>Nome: {{meuJogador.nome}}</p>
    <p>Vida: {{meuJogador.vida}}</p>
    <p>Ataque: {{meuJogador.ataque}}</p>
    <p>Inteligência: {{meuJogador.inteligencia}}</p>


    <p class="stats">Estado da Arma</p>
    <p>Nome: {{minhaArma.nome}}</p>
    <p>Ataque: {{minhaArma.ataque}}</p>
    <p>Durabilidade: {{minhaArma.durabilidade}}</p>


    </div>

    <div id="chat-logs">
    <li class="message" *ngFor="let item of BattleArena.messages">{{item}}</li>
    </div>
    <div id="my-enemy-stats">
    <p class="stats">Estado do Jogador</p>
    <p>Nome: {{meuInimigo.nome}}</p>
    <p>Vida: {{meuInimigo.vida}}</p>
    <p>Ataque: {{meuInimigo.ataque}}</p>
    <p>Inteligência: {{meuInimigo.inteligencia}}</p>


    <p class="stats">Estado da Arma</p>
    <p>Nome: {{inimigoArma.nome}}</p>
    <p>Ataque: {{inimigoArma.ataque}}</p>
    <p>Durabilidade: {{inimigoArma.durabilidade}}</p>


    </div>-->

  <div>
    <img src="assets/imagens/personagem1-removebg-preview.png" class="personagem1" #personagem1>
  </div>
  <div>
    <img src="assets/imagens/personagem-removebg-preview.png" class="personagem2" #personagem2>
  </div>
  <div classe="voltarBtn" >
    <button (click)="voltarCidade()">Voltar</button>
  </div>
</div>
