.fundo
{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 15px;
  background: url(src/assets/imagens/image.jpg) no-repeat;
  background-size:100% 100%;

}

.personagem1
{
  position:absolute;
  top: 35%;
  left: 15%;
  width: 350px;
  height: auto;
}

.personagem2
{
  position:absolute;
  top: 35%;
  left: 65%;
  width: 350px;
  height: auto;
}
