/*----------------------fundo----------------------------*/
.fundo
{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 15px;
  background: url(src/assets/imagens/cidade.jpg) no-repeat;
  background-size:100% 100%;
}
img
{
  width: 200px;
  height: auto;
}
/*------------------------arena-------------------*/
.arena
{
  position:absolute;
  left: 75%;
  top: 15%;
  cursor: pointer;
  width: 250px;
  height: auto;
  transition: all 0.7s ease;

}
.arena:hover
{
    transform:scale(1.2);
}

/*------------------------loja-------------------------*/
.loja
{
  position:absolute;
  left: 10%;
  top: 10%;
  cursor: pointer;
  transition: all 0.7s ease;
}
.loja:hover
{
  transform:scale(1.2);
}

/*----------------------treino-----------------------------*/
.treino
{
  position:absolute;
  left: 40%;
  top: 60%;
  cursor: pointer;
  transition: all 0.7s ease;
}
.treino:hover
{
  transform:scale(1.2);
}
